.contact-details {
   background-color: white;
   min-height: 90vh;

   .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
         width: 200px;
         height: 200px;
      }
   }
}

.btn-grad {
   background-image: linear-gradient(to right, #487d9e 0%, #26a0da 51%, #426b85 100%);
}
.btn-grad {
   margin: 10px 0;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: inline-block;
}

.btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
}
