.contact-page {
   background-color: white;
   min-height: 90vh;
   .btn {
      &:hover {
         cursor: pointer;
         text-decoration: none;
      }
      > * {
         margin: 10px 0;
      }
   }
}
